[mysqld]
default_authentication_plugin=mysql_native_password
# NOTE: Not supported in older versions of MariaDB
#default_time_zone=Europe/Helsinki
sql_mode="ANSI_QUOTES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"